@use "../utils/mixins.scss";
@use "../utils/variables.scss";

.additional {
  margin: 0;
  padding: 0 0 35px;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.additional__title {
  margin: 0 0 34px;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 57px;
    font-size: 36px;
    line-height: 36px;
  }
}

.additional__list {
  @include mixins.list-reset;
  display: grid;
  gap: 12px;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 32px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}
