@use "../utils/mixins.scss";
@use "../utils/variables.scss";

.additional {
  margin: 0;
  padding: 0 0 34px;
  outline: 2px solid #f50c81;
}

.additional__title {
  font-size: 24px;
  line-height: 26px;

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional__list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}
