@use "../utils/variables.scss";

.additions-card {
  padding: 13px 0 19px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: variables.$tablet-width) {
    &:last-child {
      border-bottom: none;
    }
  }

  &:first-child {
    border-top: 1px solid #cdcdcd;

    @media (min-width: variables.$tablet-width) {
      border-top: none;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 26px 38px 28px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 15px 0 15px;
    display: grid;
    grid-template-columns: 1fr 244px;
    gap: 40px;
  }
}

.additions-card__info {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 325px 1fr;
    align-items: center;
  }
}

.additions-card__title {
  margin: 0 0 13px;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 25px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
  }
}

.additions-card__details-wrapper {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: variables.$tablet-width) {
    gap: 55px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
    gap: 0;
    justify-content: start;
  }
}

.additions-card__details-item {
  font-family: variables.$additional-font;
  text-align: center;

  &:first-child {
    @media (min-width: variables.$desktop-width) {
      width: 235px;
      text-align: start;
    }
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additions-card__button {
  @media (min-width: variables.$desktop-width) {
    width: 245px;
  }
}
