@use "../utils/variables.scss";

.checkbox {
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:has(.checkbox__input:focus-visible) {
    outline: 2px solid #68b738;
    outline-offset: 2px;
  }

  @media (min-width: variables.$tablet-width) {
    gap: 20px;
  }
}

.checkbox__input {
  &:hover:not(:disabled) ~ .checkbox__mark {
    border-color: #bababa;
  }

  &:disabled ~ .checkbox__mark {
    opacity: 0.3;
  }

  &:disabled ~ .checkbox__text {
    opacity: 0.3;
  }
}

.checkbox__mark {
  position: relative;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  flex-shrink: 0;

  @media (min-width: variables.$tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.checkbox__input[type="checkbox"]:checked + .checkbox__mark::after {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 18px;
  height: 14px;
  content: url("../img/checkbox-mobile.svg");

  @media (min-width: variables.$tablet-width) {
    top: 10px;
    left: 8px;
    width: 24px;
    height: 18px;
    content: url("../img/checkbox-tablet.svg");
  }
}

.checkbox__text {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
