.comments {
  margin: 0;
  padding: 0 20px 23px;
  outline: 2px solid #008080;
}

.comments__title {
  font-size: 24px;
  line-height: 26px;
}

.comments__input {
  margin-top: 38px;
  font-family: inherit;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
