@use "../utils/variables.scss";

.contacts {
  padding-top: 25px;
  padding-bottom: 25px;
  outline: 2px solid #ff00ff;

  &--form {
    background-color: #f2f2f2;
  }

  @media (min-width: variables.$tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    width: 163px;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  font-family: variables.$additional-font, sans-serif;
  line-height: 20px;
  color: #444444;

  @media (min-width: variables.$tablet-width) {
    width: 157px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}
