@use "../utils/variables.scss";

.contacts {
  padding: 26px 20px;
  background-color: #f2f2f2;

  &--index {
    background-color: #ffffff;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 60px 80px;
  }
}

.contacts__container {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: variables.$tablet-width) {
    width: 628px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 407px;
  }
}

.contacts__title {
  width: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    width: 163px;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  width: 140px;
  margin: 0;
  font-family: variables.$additional-font, sans-serif;
  line-height: 20px;
  color: #444444;

  @media (min-width: variables.$tablet-width) {
    width: 157px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: start;
  }
}

.contacts__small-text {
  @media (min-width: variables.$tablet-width) {
    display: block;
    margin-top: 20px;
  }
}
