@use "../utils/mixins.scss";
@use "../utils/variables.scss";

.copyright {
  &:hover {
    .copyright__link {
      color: #68b738;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include mixins.link-reset;
  font-family: variables.$additional-font, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.copyright__link {
  color: #666666;
}
