@use "../utils/variables.scss";

.example {
  padding: 74px 20px 0;
  background-color: #eaeaea;
  outline: 2px solid #87ceeb;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  font-family: variables.$additional-font, sans-serif;
  line-height: 18px;
  color: #444444;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__details {
  font-family: variables.$additional-font, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__result {
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
