@use "../utils/variables.scss";

.gift-promo {
  padding: 35px 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 70px 0 75px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 0 87px;
  }
}

.gift-promo__wrapper {
  margin: 0;
  min-height: 290px;
  padding: 58px 61px 43px 58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/gift-promo-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    min-height: 200px;
    padding: 57px 125px 60px 77px;
    flex-direction: row;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 288px;
    padding: 56px 42px 43px 42px;
    flex-direction: column;
  }
}

.gift-promo__description {
  margin: 0;
  width: 160px;
  font-family: variables.$additional-font, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    text-align: start;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: center;
  }
}
