@use "../utils/variables.scss";

.gift-promo {
  padding: 35px 20px;
  outline: 2px solid #000000;
}

.gift-promo__wrapper {
  outline: 2px solid #ff0000;
  background-image: url("../../img/gift-promo-background.png");
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.gift-promo__description {
  font-family: variables.$additional-font, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
