@use "../utils/variables.scss";

.input {
  display: flex;
  gap: 13px;
  align-items: center;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input__control[type="number"] {
  appearance: textfield;
}

.input__control {
  flex-grow: 1;
  padding: 13px 15px 12px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  resize: vertical;
  outline: none;
  box-sizing: border-box;
  width: 100%;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  &--email {
    padding: 13px 40px 12px 15px;

    &::after {
      content: "";
      background-image: url("../img/email-icon.svg");
      background-repeat: no-repeat;
      background-position: center right 15px;
    }

    @media (min-width: variables.$tablet-width) {
      padding: 10px 50px 10px 20px;
    }

    @media (min-width: variables.$desktop-width) {
      mask-position: center right 17px;
    }

    &:hover {
      background-image: none;
      mask-image: url("../img/email-icon.svg");
      background-color: #68b738;
      mask-repeat: no-repeat;
      mask-position: center right 17px;
      color: #444444;
    }
  }

  &--phone {
    padding: 13px 40px 12px 15px;
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;

    @media (min-width: variables.$tablet-width) {
      padding: 10px 50px 10px 20px;
    }

    @media (min-width: variables.$desktop-width) {
      background-position: center right 17px;
    }
  }

  &--commentaries {
    padding: 13px 14px 13px 15px;
    min-height: 150px;
    box-sizing: border-box;

    @media (min-width: variables.$tablet-width) {
      padding: 10px 14px 10px 20px;
      min-height: 175px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 8px 14px 10px 20px;
    }
  }
}

.input__label {
  white-space: nowrap;
}
