@use "../utils/variables.scss";

.main-header {
  min-height: 38px;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    min-height: 50px;
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 59px;
    padding-top: 55px;

    &--index {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding-bottom: 0;
      z-index: 1;
    }
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;

  &:has(.main-nav--nojs) {
    @media (max-width: variables.$mobile-width-only) {
      display: block;
    }
  }
}

.main-header__nav {
  @media (min-width: variables.$tablet-width) {
    align-self: end;
  }
}
