@use "../utils/variables.scss";

.main-header {
  min-height: 38px;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    min-height: 50px;
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 59px;
    padding-top: 55px;
  }
}

.main-header__logo {
  align-self: flex-start;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &:has(.main-nav--nojs) {
    @media (max-width: variables.$mobile-width-only) {
      display: block;
    }
  }
}

.main-header__nav {
  @media (min-width: variables.$tablet-width) {
    padding: 15px 0;
  }
}
