@use "../utils/variables.scss";

.owner-details {
  margin: 0;
  padding: 27px 0 24px;
  border: none;
  position: relative;

  @media (max-width: variables.$mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      background-color: #d9d9d9;
      height: 1px;
      left: calc(50% - 50vw);
      top: 0;
      width: 100vw;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.owner-details__title {
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 35px;

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 76px;
  }
}

.owner-details__wrapper {
  display: grid;
  gap: 14px;

  @media (min-width: variables.$tablet-width) {
    gap: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
