@use "../utils/mixins.scss";
@use "../utils/variables.scss";

.product-card {
  padding: 20px 0 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image info"
    "button button";
  position: relative;

  @media (max-width: variables.$mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      background-color: #ebebeb;
      height: 1px;
      left: calc(50% - 50vw);
      top: 0;
      width: 100vw;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 10px 37px 40px;
    background: linear-gradient(transparent 80px, #f2f2f2 80px);
    border-bottom: none;
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "info"
      "button";
  }

  @media (min-width: variables.$desktop-width) {
    padding: 10px 38px 40px;
  }
}

.product-card__image {
  margin: 0 0 15px;
  align-self: center;
  justify-self: center;
  grid-area: image;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 22px;
    width: 200px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 12px;
    width: 169px;
  }
}

.product-card__info {
  margin-bottom: 20px;
  grid-area: info;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 42px;
  }
}

.product-card__name {
  width: 76px;
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    width: 135px;
    margin: 0 auto 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 auto 24px;
  }
}

.product-card__details-list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.product-card__details-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    &::before {
      content: "";
      height: 1px;
      background-color: #cdcdcd;
      width: 100%;
      position: absolute;
      bottom: -5px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &::before {
      bottom: -7px;
    }
  }
}

.product-card__details-item {
  font-family: variables.$additional-font, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__button {
  grid-area: button;
}
