@use "../utils/mixins.scss";
@use "../utils/variables.scss";

.program-selection {
  display: flex;
  align-items: center;
  padding: 22px 0 19px;
  position: relative;

  @media (max-width: variables.$mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      background-color: #d9d9d9;
      height: 1px;
      left: calc(50% - 50vw);
      top: 0;
      width: 100vw;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 22px 0 26px 26px;
    border: 1px solid #e7e7e7;
  }
}

.program-selection__list {
  @include mixins.list-reset;
}

.program-selection__item:not(:last-child) {
  margin-bottom: 13px;
}
