@use "../utils/mixins.scss";
@use "../utils/variables.scss";

.program-selection {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 22px 0 19px;

  @media (min-width: variables.$tablet-width) {
    padding-left: 27px;
    border: 1px solid #e7e7e7;
  }
}

.program-selection__list {
  @include mixins.list-reset;
}

.program-selection__item:not(:last-child) {
  margin-bottom: 13px;
}
