@use "../utils/variables.scss";

.program-form {
  padding: 39px 0 32px;
  outline: 2px solid #ee82ee;
}

.program-form__legend {
  font-family: variables.$additional-font, sans-serif;
  line-height: 16px;
  text-align: center;
}
