@use "../utils/variables.scss";

.program-form {
  padding-bottom: 32px;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    grid-template-areas:
      "input input"
      "program program"
      "owner owner"
      "comments comments"
      "additional additional"
      "button legend";
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 79px;
    column-gap: 80px;
    grid-template-areas:
      "input program"
      "owner owner"
      "comments comments"
      "additional additional"
      "button legend";
  }
}

.program-form__legend {
  font-family: variables.$additional-font, sans-serif;
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 20px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 0;
    font-size: 16px;
    justify-self: flex-start;
    align-self: center;
    grid-area: legend;
  }
}

.program-form__input {
  padding-bottom: 24px;
  display: grid;
  gap: 14px;
  grid-area: input;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 72px;
    padding-bottom: 0;
    gap: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 70px;
  }
}

.program-form__selection {
  grid-area: program;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 70px;
  }
}

.program-form__owner {
  grid-area: owner;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 70px;
  }
}

.program-form__comments {
  grid-area: comments;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 70px;
  }
}

.program-form___additional {
  grid-area: additional;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 60px;
  }
}

.program-form__button {
  grid-area: button;
}
