@use "../utils/variables.scss";

.promo {
  padding-top: 27px;
  padding-bottom: 20px;
  outline: 2px solid #fa8072;
  color: #ffffff;
  background-image: url("../../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: relative;

  @media (max-width: variables.$mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      height: 302px;
      width: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding-top: 65px;
    padding-bottom: 0;
    color: #000000;
    background-image: none;
  }

  @media (min-width: variables.$desktop-width) {
    height: 550px;
    padding-top: 225px;
    padding-bottom: 82px;
    background-image: url("../../img/promo-background-desktop.png");
    background-position: top right;
    background-size: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
    }
  }
}

.promo__wrapper {
  position: relative;
  z-index: 1;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    justify-items: start;
    grid-template-areas:
      "title"
      "slogan"
      "button"
      "image";
  }

  @media (min-width: variables.$desktop-width) {
    justify-items: start;
    grid-template-columns: 420px 1fr;
    grid-template-areas:
      "title image"
      "slogan image"
      "button image";
  }
}

.promo__title {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  grid-area: title;

  @media (min-width: variables.$tablet-width) {
    max-width: 420px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }
}

.promo__slogan {
  margin: 0 0 29px;
  text-transform: uppercase;
  text-align: center;
  grid-area: slogan;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  grid-area: image;
}

.promo__button {
  grid-area: button;
}
