@use "../utils/variables.scss";

.radiobutton {
  padding-left: 45px;
  display: flex;
  position: relative;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    padding-left: 60px;
  }
}

.radiobutton__input {
  margin: 0;
  width: 30px;
}

.radiobutton__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.radiobutton__input[type="radio"]:checked + .radiobutton__mark::after {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";

  @media (min-width: variables.$tablet-width) {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

.radiobutton__text {
  padding: 6px 0;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    padding: 5px 0;
    font-size: 20px;
    line-height: 30px;
  }
}
