@use "../utils/variables.scss";

.radiobutton {
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:has(.radiobutton__input:focus-visible) {
    outline: 2px solid #68b738;
    outline-offset: 2px;
  }

  @media (min-width: variables.$tablet-width) {
    gap: 20px;
  }
}

.radiobutton__input {
  margin: 0;
  width: 30px;

  &:hover:not(:disabled) ~ .radiobutton__mark {
    border-color: #bababa;
  }

  &:disabled ~ .radiobutton__mark {
    opacity: 0.3;
  }

  &:disabled ~ .radiobutton__text {
    opacity: 0.3;
  }
}

.radiobutton__mark {
  position: relative;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;

  @media (min-width: variables.$tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.radiobutton__input[type="radio"]:checked + .radiobutton__mark::after {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";

  @media (min-width: variables.$tablet-width) {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

.radiobutton__text {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
