@use "../utils/variables.scss";

.text-wrapper {
  padding-top: 27px;
  outline: 2px solid #ff0000;
}

.text-wrapper__title {
  margin: 0 0 37px 20px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.text-wrapper__description {
  margin: 0 0 0 20px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
