// Переменные
@use "./utils/variables.scss";

// Базовые настройки
@use "./base/fonts.scss";
@use "./base/base.scss";

// Блоки
@use "./blocks/additional.scss";
@use "./blocks/additions-card.scss";
@use "./blocks/additions-container.scss";
@use "./blocks/advantages.scss";
@use "./blocks/button-common.scss";
@use "./blocks/card-more.scss";
@use "./blocks/catalog-container.scss";
@use "./blocks/catalog-wrapper.scss";
@use "./blocks/checkbox.scss";
@use "./blocks/comments.scss";
@use "./blocks/compare-slider.scss";
@use "./blocks/contacts.scss";
@use "./blocks/container.scss";
@use "./blocks/copyright.scss";
@use "./blocks/example.scss";
@use "./blocks/form-container.scss";
@use "./blocks/gift-promo.scss";
@use "./blocks/input.scss";
@use "./blocks/link.scss";
@use "./blocks/location.scss";
@use "./blocks/logo.scss";
@use "./blocks/main-container.scss";
@use "./blocks/main-footer.scss";
@use "./blocks/main-header.scss";
@use "./blocks/main-nav.scss";
@use "./blocks/owner-details.scss";
@use "./blocks/product-card.scss";
@use "./blocks/product-container.scss";
@use "./blocks/program-form.scss";
@use "./blocks/program-selection.scss";
@use "./blocks/programs.scss";
@use "./blocks/promo.scss";
@use "./blocks/radiobutton.scss";
@use "./blocks/social.scss";
@use "./blocks/text-wrapper.scss";
@use "./blocks/title-decorate.scss";
